/*
!wp-content/
.*

!.gitignore

!readme.md

~*

ehthumbs.db
Thumbs.db

.idea
.DS_Store
*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/

# игнорим плагины, если хотим отслеживать, то разкомментим строку ниже 
#!wp-content/plugins/

!wp-content/themes/

# игнорим конкретные плагины, если разкомменчена строка !wp-content/plugins/
#wp-content/plugins/hello.php
#wp-content/plugins/index.php

wp-content/themes/ps-local/
wp-content/themes/index.php

node_modules/
